@model AxolotlAtheneum.Models.Book

<div class="container-md">
    <div class="row shelf"> </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <h2> <a href="@Url.Action("Search", "Shopping")" type="button" class="btn btn-warning"> < Browse </a></h2>

                <br/>

                <h2>@Model.Title</h2> 

                <p>ISBN: @Model.ISBN</p>
                <div class="col">
                    <a href="#">
                        <img src="@Url.Content(Model.CoverPictureURL)" width="15%" align="left">
                    </a>
                </div>
                <div class="col" style="padding-left:275px">
                    <h5>@Model.Title by @Model.Author</h5>
                    <h6>Published in @Model.PublicationYear by @Model.Publisher, @Model.Title by @Model.Author is an amazing @Model.Category book that you and your family will love!</h6>
                    <br />
                    <h6> Price: $@Model.SellingPrice </h6>
                    @if (Model.QuantityInStock > 0)
            {
                <a href="@Url.Action("AddToCart", "Shopping", Model)" type="button" class="btn btn-warning">Add to Cart</a>
            }
                    else
            {
                <p> Looks like this item is currently out of stock! Check back later.</p>
            }
                        
                </div>
            </div>
        </div>
    </div>
</div>