@model AxolotlAtheneum.Models.ShoppingCart

@foreach (var item in Model.Items)
{
    <div class="container-md">
        <div class="row shelf"> </div>
        <div class="row">
            <div class="col">
                <div class="container">
                    <h2></h2> <p>$ @item.BuyingPrice</p>
                    <div class="col">
                        <a href="@Url.Action("Book", "Shopping", item)">
                            <img src="@Url.Content(item.CoverPictureURL)" width="15%" align="left">
                        </a>
                    </div>
                    <div class="col" style="padding-left:275px">
                        <h6>@item.Description</h6>
                        <a href="@Url.Action("Cart", "Home")" class="btn btn-default" role="button">Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

