@model AxolotlAtheneum.Models.ShoppingCart

@if (Model == null || Model.Items == null || Model.Items.Count == 0)
{
    <p> Your cart is currently empty. </p>
}

else
{
    <div class="container-md">
        <div class="row shelf"> </div>
        <div class="row">
            <div class="col">

                @foreach (var item in Model.Items)
                {

                    <div class="container">
                        <div class="row">
                            <div class="col" style="padding-left:150px">
                                <a href="@Url.Action("Book", "Shopping", item.Key)">
                                    <img src="@Url.Content(item.Key.CoverPictureURL)" width="200em" align="left">
                                </a>
                            </div>
                            <div class="col">
                                <br />
                                <h5>@item.Key.Title by @item.Key.Author: </h5>
                                <h6> You currently have @item.Value copies in your shopping cart. </h6>
                                <p>$ @item.Key.SellingPrice</p>
                                <a href="@Url.Action("RemoveFromCart", "Shopping", item.Key)" class="btn btn-default" role="button">Remove from Cart</a>
                            </div>
                        </div>
                    </div>
                    <div class="row shelf"> </div>

                }

                <h3>Shopping Cart Total: $@Model.Total</h3>
                <br></br>
                <a href="@Url.Action("Checkout")">Checkout</a>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="p-2 position-relative container-md wood-label">
        <p>Axolotl Atheneum &copy; 2021 </p>
    </footer>


}
