@model AxolotlAtheneum.Models.Order

@{
    ViewBag.Title = "asdfadfgae";
}
<h2 text-align:>Checkout</h2>




@if ((Model.ShippingAddress != null) | (Model.PaymentMethod != null))
{

    <div id="div1" style="height:288px; overflow:auto;">
        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Cover
                </th>
                <th>
                    Author
                </th>
                <th>
                    Individual Price
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Key.Title
                    </td>
                    <td>
                        <img src="@Url.Content(@item.Key.CoverPictureURL)" width="10%" length="10%">


                    </td>


                    <td>
                        @item.Key.Author
                    </td>


                    <td>
                        @item.Key.SellingPrice
                    </td>


                </tr>
            }

        </table>
    </div>





}


@if ((Model.ShippingAddress == null) | (Model.PaymentMethod == null))

{

    <p> You do not have a valid shipping address or credit card, please add one <a href="@Url.Action("EditAccount", "Account")">here. </a></p>

}


else
{

    <p> Your total is @Model.Total , please confirm below that the purchase details are correct. </p>

    <p> Address : @Model.ShippingAddress.Street   <br> Card : @Model.PaymentMethod.cardNumber </p>

    using (Html.BeginForm("confirmCheckout", "Shopping", Model)){
    <button type="submit" class="btn btn-warning" href ="@Url.Action()">
        <span class="glyphicon glyphicon-star">Confirm Checkout</span> 
    </button>
    }


}



