@model AxolotlAtheneum.Models.Order

@{
    ViewBag.Title = "View";
}

<h2 text-align:>CONFIRM CHEKCOUT</h2>


@if ((Model.ShippingAddress == null) | (Model.PaymentMethod == null))

{

    <p> You do not have a valid shipping address or credit card, please add one <a href="@Url.Action("EditAccount", "Account")">here. </a></p>

}

@if ((Model.ShippingAddress != null) | (Model.PaymentMethod != null))
{

    <div id="div1" style="height:288px; overflow:auto;">
        <table class="table">
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Cover
                </th>
                <th>
                    Author
                </th>
                <th>
                    Individual Price
                </th>
                <th></th>
            </tr>


            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @item.Key.Title
                    </td>
                    <td>
                        <img src="@Url.Content(@item.Key.CoverPictureURL)" width="10%" length="10%">


                    </td>


                    <td>
                        @item.Key.Author
                    </td>


                    <td>
                        @item.Key.SellingPrice
                    </td>


                </tr>
            }

        </table>
    </div>
    <p>Address : @Model.ShippingAddress.Street , @Model.ShippingAddress.City , @Model.ShippingAddress.State , @Model.ShippingAddress.Zip  </p>
    <p>Card Selected : @Model.PaymentMethod.cardNumber , @Model.PaymentMethod.cardSecNumber</p>
    <div style="text-align: center">
        <a class="book-genre" href="@Url.Action("Checkout", Model)">
            <img src="@Url.Content("~/Images/BookSpineR.png")" alt="Checkout"
                 style="width:10em;">
            <div class="centered">Checkout</div>
        </a>
    </div>
}




