
@{
    ViewBag.Title = "EditAccount";
}

<h2>EditAccount</h2>
@model AxolotlAtheneum.Models.User
<div class="container-md">
    <div class="row shelf"> </div>
    <div class="row">
        <div class="col">
            <!-- Edit Profile -->
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#editProfile">
                    <span class="login-button">
                        <img src="@Url.Content("~/Images/BookSpineB.png")" alt="Edit Profile" style="width:10em;">
                        <div class="centered">Edit Profile</div>
                    </span>
                </button>
            </div>
            <!-- Collapsed Content -->
            <div class="collapse navbar-collapse" id="editProfile">

                @using (Html.BeginForm("editProfile", "Account", FormMethod.Post))
                {
                    <fieldset class="edit_name">

                        <h3>Change Name</h3>
                        <p>Please update your Name:</p>
                        <p>Maximum legnth is 30 characters.</p>

                        <p> Current First Name:   @Html.DisplayFor(m => m.firstName) </p>
                        <label for="newFName">First Name: </label>
                        <input type="text" name="newFName" id="newFName" required placeholder="John"><br>

                        <p> Current Last Name: @Html.DisplayFor(m => m.lastName)</p>

                        <label for="newLName">Last Name: </label>
                        <input type="text" name="newLName" id="newLName" required placeholder="Doe"><br>

                        <p> Account email: @Html.DisplayFor(m => m.email)</p>
                        <p> Account user ID: @Html.DisplayFor(m => m.userID)</p>

                        <p> Password: </p>
                        <label for="newPass">Change Password: </label>
                        <input type="password" name="oldPass" id="oldPass" placeholder="Current Password" />
                        <input type="password" name="newPass" id="newPass" placeholder="NewPassword" />


                    </fieldset>
                    <div class="form-group" style="padding-left: 200px;">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-warning">
                                <span class="glyphicon glyphicon-star"></span> Login
                            </button>
                        </div>
                    </div>
                }

            </div>
        </div>
        <div class="col">
            <!-- Edit Phone -->
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#editPhone">
                    <span class="login-button">
                        <img src="@Url.Content("~/Images/BookSpineG.png")" alt="Edit Phone #" style="width:10em;">
                        <div class="centered">Edit Phone #</div>
                    </span>
                </button>
            </div>
            <!-- Collapsed Content -->
            <div class="collapse navbar-collapse" id="editPhone">
                @using (Html.BeginForm("editPhone", "Account", FormMethod.Post))
                {

                    <fieldset class="edit_phone">
                        <h3>Change Phone Number</h3>


                        <p>Please change your Phone Number:</p>

                        <p> Current Phone Number: @Html.DisplayFor(m => m.phonenumber)</p>
                        <p>Must be 10 digits only, no hyphens</p>

                        <label for="newPhone">Phone Number: </label>
                        <input type="text" name="newPhone" id="newPhone" required placeholder="Enter phone number here">
                        <text for="newPhone" id="newPhoneText"> * </text>
                        <div class="form-group" style="padding-left: 200px;">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-warning">
                                    <span class="glyphicon glyphicon-star"></span> Login
                                </button>
                            </div>
                        </div>

                    </fieldset>

                }
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col">
            <!-- Edit Address -->
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#editAddress">
                    <span class="login-button">
                        <img src="@Url.Content("~/Images/BookSpineR.png")" alt="Edit Adress" style="width:10em;">
                        <div class="centered">Edit Address</div>
                    </span>
                </button>
            </div>
            <!-- Collapsed Content -->
            <div class="collapse navbar-collapse" id="editAddress">

                <fieldset class="edit_address">
                    <h3>Change Shipping Address</h3>
                    <p>Please enter your new address information:</p>
                    <p>Each Entry must be less than 100 characters</p>
                    @{Html.RenderAction("rendereditAddress", "Account");}
                </fieldset>


            </div>
        </div>

        <div class="col">
            <!-- Edit Card -->
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#editCard">
                    <span class="login-button">
                        <img src="@Url.Content("~/Images/BookSpineP.png")" )" alt="Edit Card" style="width:10em;">
                        <div class="centered">Edit Card</div>
                    </span>
                </button>
            </div>
            <!-- Collapsed Content -->
            <div class="collapse navbar-collapse" id="editCard">

                <fieldset class="edit_payment">
                    <h3>Change Payment Card</h3>
                    <p>Please enter your card information:</p>
                    @{Html.RenderAction("rendereditCard", "Account");}
                </fieldset>


            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <!-- Promotional Emails -->
            <fieldset class="edit_promo_emails">
                <h3>Receive Promotional Emails?</h3>
                @{Html.RenderAction("rendereditPromoEmail", "Account");}
            </fieldset>
        </div>
    </div>
</div>
