@model AxolotlAtheneum.Models.User 


<body>
    <div class="container-md">
        <div class="row shelf"> </div>
        <div class="row">
            <div class="col">
                <div class="container">
                    <h2 class=wood-label>Admin Homepage</h2>
                    <div class="col">
                        <h3 style="margin-top: 50px;">Manage User Status</h3>

                        @using (Html.BeginForm("promoteAccount", "Account", FormMethod.Post))
                        {
                            <fieldset class="edit_name">
                                <h4>Promote Account to Admin Status</h4>
                                <label for="promoteUserStatus">User Email: </label>
                                @Html.TextBox("customerEmail", null, new { @placeholder = "Enter user's email", required = "required" })
                                <text for="promoteUserStatus" id="promoteUserStatusText">*</text>
                            </fieldset>
                            <div class="form-group" style="padding-left: 200px;">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-star"></span> Submit
                                    </button>
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("demoteAccount", "Account", FormMethod.Post))
                        {
                            <fieldset class="edit_name">
                                <h4>Change to Active Status</h4>
                                <label for="demoteUserStatus">User Email: </label>
                                @Html.TextBox("customerEmail", null, new { @placeholder = "Enter user's email", required = "required" })
                                <text for="demoteUserStatus" id="deomoteUserStatusText">*</text>
                            </fieldset>
                            <div class="form-group" style="padding-left: 200px;">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-star"></span> Submit
                                    </button>
                                </div>
                            </div>
                        }

                        @using (Html.BeginForm("suspendAccount", "Account", FormMethod.Post))
                        {
                            <fieldset class="edit_name">
                                <h4>Change to Suspended Status</h4>
                                <label for="suspendUserStatus">User Email: </label>
                                @Html.TextBox("customerEmail", null, new { @placeholder = "Enter user's email", required = "required" })
                                <text for="suspendUserStatus" id="suspendUserStatusText">*</text>
                            </fieldset>
                            <div class="form-group" style="padding-left: 200px;">
                                <div class="col-sm-offset-2 col-sm-10">
                                    <button type="submit" class="btn btn-warning">
                                        <span class="glyphicon glyphicon-star"></span> Submit
                                    </button>
                                </div>
                            </div>
                        }

                    </div>
                    <div class="col">
                        <a href="@Url.Action("ManageBooks", "Shopping")" class="admin-link">
                            <img src="@Url.Content("~/Images/BookSpineB.png")" alt="Manage Books" style="width:12em;">
                            <div class="centered">Manage Books</div>
                        </a><br>

                    </div>
                </div>
                <div class="row shelf"> </div>
                <div class="row col">
                    <h3>Add Promotions</h3>
                    <h4>Add Promo</h4>
                    @using (@Html.BeginForm("addPromo", "Shopping", FormMethod.Post)) {
                    <form action="#" id="addPromo">
                        <fieldset class="add_promo">

                            <label for="addPromoName">Promotion Name: </label>
                            @Html.TextBox("promoName", null, new { @placeholder = "Promotional Discount Name", required = "required" })
                            <text for="addPromoName" id="addPromoNameText"> * </text><br>

                            <label for="addPromoCode">Promotion Code: </label>
                            @Html.TextBox("promoCode", null, new { @placeholder = "Promotional Code", required = "required" })
                            <text for="addPromoCode" id="addPromoCodeText"> * </text><br>

                            <label for="addPromoDiscount">Promotion Discount: </label>
                            @Html.TextBox("discount", null, new { @placeholder = "Promotional Discount as a Number", required = "required" })
                            <text for="addPromoDiscount" id="addPromoDiscountText"> * </text><br>
                        </fieldset>
                        <input type="submit" form="promoteAccount" value="Submit" />
                    </form>
                    }





                </div>
            </div>
        </div>
    </div>
