<html lang="en">
<span>.</span>



<body>

    @Html.Partial("_MenuBar")

    <div class="container-md">
        <div class="row shelf"> </div>
        <div class="row">

            <div class="col" id="col">
                <h2 class=wood-label>Welcome to Axolotl Atheneum!</h2>
                <!-- Carousel -->
                <div class="container" style="margin-top: 50px;">
                    <div class="row">
                        <div class="col">
                            <h2 class=>Featured Books:</h2>
                            <div class="container">
                                <a href="@Url.Action("Book", "Home")">
                                    <img src="@Url.Content("~/Images/Books/PrideAndPrejudice.jpg")" max-width="30%"
                                         max-height="auto">
                                </a>
                            </div>
                            <!--     <a href="#">
                            <img src="Images/Books/PrideAndPrejudice.jpg" max-width="30%"
                                max-height="auto"></a>
                    </div>

                    <div id="myCarousel carouselControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner" style="width: 500px; height: 250px;">
                            <div class="carousel-item active">
                                <div class="container">
                                    <a href="#">
                                        <img src="Images/Books/PrideAndPrejudice.jpg" max-width="50%"
                                            max-height="auto" class="centered"></a>
                                </div>
                            </div>

                            <div class=" carousel-item">
                                <div class="container">
                                    <a href="#">
                                        <img src="Images/Books/LOTR.jpg" max-width="100%" max-height="auto"
                                            class="centered"></a>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="container">
                                    <a href="#">
                                        <img src="Images/Books/Algebra.jpg" max-width="100%"
                                            max-height="auto" class="centered"></a>
                                </div>
                            </div>

                        </div>
                    </div>
                -->
                        </div>
                        <div class="col">
                            <h2>Browse Genres:</h2>
                            <div class="container">
                                <div class="row">
                                    <div class="col">
                                        <ul>
                                            <li>
                                                <a class="book-genre">
                                                    <img src="@Url.Content("~/Images/BookSpineG.png")" alt="Nonfiction"
                                                         style="width:10em;">
                                                    <div class="centered">Nonfiction</div>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="book-genre">
                                                    <img src="@Url.Content("~/Images/BookSpineB.png")" alt="Fiction"
                                                         style="width:10em;">
                                                    <div class="centered">Fiction</div>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="book-genre">
                                                    <img src="@Url.Content("~/Images/BookSpineP.png")" alt="Classics"
                                                         style="width:10em;">
                                                    <div class="centered">Classics</div>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="book-genre">
                                                    <img src="@Url.Content("~/Images/BookSpineO.png")" alt="Poems"
                                                         style="width:10em;">
                                                    <div class="centered">Poems</div>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col">
                                        <ul>
                                            <li>
                                                <a class="book-genre">
                                                    <img src="@Url.Content("~/Images/BookSpineP.png")" alt="Historical"
                                                         style="width:10em; height:auto">
                                                    <div class="centered">Historical</div>
                                                    </span>
                                                </a>
                                            <li>
                                                <a class="book-genre">
                                                    <img src="@Url.Content("~/Images/BookSpineO.png")" alt="Romance"
                                                         style="width:10em;">
                                                    <div class="centered">Romance</div>
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a class="book-genre">
                                                    <img src="@Url.Content("~/Images/BookSpineG.png")" alt="Thriller"
                                                         style="width:10em;">
                                                    <div class="centered">Thriller</div>
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="row shelf"> </div>
                @Html.Partial("_AboutPartial")
            </div>
        </div>
</body>
@Html.Partial("_Footer")

</html>